# Resumen:

El siguiente notebook describe la exploración de un dataset para realización de un modelo de aprendizaje automático sobre un microcontrolador. Por medio de la plataforma Kaglle se obtuvo la base de datos que se usará para el entrenamiento del modelo, esta apunta registra dos datos relevantes que son el SoC y la temperatura de la batería de el automóvil BMW i3, haciendo uso de esta abse de datos de apunta a la estimación de la temperatura de la batería y para ello por medio de la librería PyCaret se realiza el entramiento del modelo la cual permite la automatización del flujo de trabajo de ML.

# Marco Teórico:

## Descripción del conjunto de datos:

Las baterías de los vehículos eléctricos se enfrentan a variaciones debido a la variación de la conducción por parte del conductores, adicional a las cargas auxiliares que consumen energía para satisfacer sus funciones como lo son el sistema de calefacción y el aire acondicionado, esto genera una reducción significativa de la autonomía total del vehículo.

Haciendo uso de la plataforma Kaggle se realiza la busqueda de la base de datos que se implementará para el entrenamiento del modelo de nombre "SoC and Temperature Prediction".
En esta base de datos se registran 72 viajes reales con un BMW i3 los cuales comprenden el sistema de calefacción y de propulsión, cada viaje contiene datos relevantes del ambiente(temperatura, elevación, entre otros), datos del vehículo (aceleración, velocidad, entre otros), datos de batería(SoC, voltaje, corriente, temperatura), circuito de calefacción(temperatura interna, potencia de calefacción, entre otros).

Los datos están separados en múltiples archivos CSV separados por dos catergorías A y B, donde la primera se registró en verano la cual no contiene todos los datos presentados anteriormente en su totalidad debido a problemas en el sistema de medición, mientras que la categoría B es consistente con todos los datos que describe.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

*Almacenamiento de la base de datos para ser tratada en una variable que representa la base.*

In [2]:
data = pd.read_csv('AllTrips.csv')

*Lectura de la base de datos, se puede observar que las últimas dos columnas contienen datos tipo NaN, por la tanto se debe hacer limpieza de estas.*

In [3]:
data

,Time [s],Velocity [km/h],Elevation [m],Throttle [%],Motor Torque [Nm],Longitudinal Acceleration [m/s^2],Regenerative Braking Signal,Battery Voltage [V],Battery Current [A],Battery Temperature [°C],...,Temperature Feetvent Co-Driver [°C],Temperature Feetvent Driver [°C],Temperature Head Co-Driver [°C],Temperature Head Driver [°C],Temperature Vent right [°C],Temperature Vent central right [°C],Temperature Vent central left [°C],Temperature Vent right [°C],Velocity [km/h]]],Unnamed: 23
0,0.0,0.0,575.0,0.0,0.0,-0.23,0.0,390.60,-13.10,8.0,...,16.02,15.85,1.97,3.28,5.11,3.02,1.97,5.64,NaN,NaN
1,0.1,0.0,575.0,0.0,0.0,-0.21,0.0,390.60,-13.10,8.0,...,16.02,15.85,1.97,3.28,5.11,3.02,1.97,5.64,NaN,NaN
2,0.2,0.0,575.0,0.0,0.0,-0.32,0.0,390.60,-13.10,8.0,...,16.02,15.85,1.97,3.28,5.11,3.02,1.97,5.64,NaN,NaN
3,0.3,0.0,575.0,0.0,0.0,-0.23,0.0,390.60,-13.10,8.0,...,16.02,15.85,1.97,3.28,5.11,3.02,1.97,5.64,NaN,NaN
4,0.4,0.0,575.0,0.0,0.0,-0.23,0.0,390.58,-13.17,8.0,...,16.02,15.87,1.97,3.27,5.11,3.02,1.97,5.64,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094788,1351.6,0.0,513.0,0.0,0.0,0.07,0.0,384.40,-0.70,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094789,1351.7,0.0,513.0,0.0,0.0,0.07,0.0,384.40,-0.70,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094790,1351.8,0.0,513.0,0.0,0.0,0.09,0.0,384.40,-0.70,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094791,1351.9,0.0,513.0,0.0,0.0,0.11,0.0,384.40,-0.70,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094792,1352.0,0.0,513.0,0.0,0.0,0.11,0.0,384.40,-0.70,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

*Limpieza de las dos últimas columnas(Velocity [km/h]]] // Unnamed:23)*

In [4]:
data = data.iloc[: , :-2]

*El objetivo del entrenamiento será predecir la temperatura de la batería, por lo tanto se comprueba si dicha columna posee datos NaN, esta debe cumplir con que no posea datos faltantes para dicho objetivo.*

In [8]:
data['Battery Temperature [°C]'].isnull().values.any()

False

In [9]:
data

,Time [s],Velocity [km/h],Elevation [m],Throttle [%],Motor Torque [Nm],Longitudinal Acceleration [m/s^2],Regenerative Braking Signal,Battery Voltage [V],Battery Current [A],Battery Temperature [°C],...,Temperature Footweel Driver [°C],Temperature Footweel Co-Driver [°C],Temperature Feetvent Co-Driver [°C],Temperature Feetvent Driver [°C],Temperature Head Co-Driver [°C],Temperature Head Driver [°C],Temperature Vent right [°C],Temperature Vent central right [°C],Temperature Vent central left [°C],Temperature Vent right [°C]
0,0.0,0.0,575.0,0.0,0.0,-0.23,0.0,390.60,-13.10,8.0,...,2.49,4.06,16.02,15.85,1.97,3.28,5.11,3.02,1.97,5.64
1,0.1,0.0,575.0,0.0,0.0,-0.21,0.0,390.60,-13.10,8.0,...,2.49,4.06,16.02,15.85,1.97,3.28,5.11,3.02,1.97,5.64
2,0.2,0.0,575.0,0.0,0.0,-0.32,0.0,390.60,-13.10,8.0,...,2.49,4.06,16.02,15.85,1.97,3.28,5.11,3.02,1.97,5.64
3,0.3,0.0,575.0,0.0,0.0,-0.23,0.0,390.60,-13.10,8.0,...,2.49,4.06,16.02,15.85,1.97,3.28,5.11,3.02,1.97,5.64
4,0.4,0.0,575.0,0.0,0.0,-0.23,0.0,390.58,-13.17,8.0,...,2.50,4.06,16.02,15.87,1.97,3.27,5.11,3.02,1.97,5.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094788,1351.6,0.0,513.0,0.0,0.0,0.07,0.0,384.40,-0.70,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094789,1351.7,0.0,513.0,0.0,0.0,0.07,0.0,384.40,-0.70,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094790,1351.8,0.0,513.0,0.0,0.0,0.09,0.0,384.40,-0.70,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094791,1351.9,0.0,513.0,0.0,0.0,0.11,0.0,384.40,-0.70,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094792,1352.0,0.0,513.0,0.0,0.0,0.11,0.0,384.40,-0.70,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

*Ahora bien, una vez limpio el conjunto de datos, se procede a hacer una descripción estadística de los datos recopilados en la base de datos, por ende se hace uso del método .describe() para observar dichas estadísticas.*

In [9]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Time [s],1094793.0,1030.379323,894.872554,0.00,391.50000,812.10,1380.90000,5610.10000
Velocity [km/h],1078364.0,44.697899,35.483078,0.00,14.19000,40.89,67.90000,152.26000
Elevation [m],1094793.0,532.208922,45.282726,437.00,487.13000,530.91,567.26000,664.99000
Throttle [%],1094793.0,28.079810,18.757409,0.00,10.33000,33.24,42.97499,135.25000
Motor Torque [Nm],1094793.0,10.768902,34.803679,-87.90,0.00000,6.50,22.36000,249.50000
Longitudinal Acceleration [m/s^2],1094793.0,-0.004173,0.632472,-9.03,-0.24000,-0.02,0.20000,4.46000
Regenerative Braking Signal,1094793.0,0.052119,0.221979,0.00,0.00000,0.00,0.00000,1.00000
Battery Voltage [V],1094793.0,376.379300,11.859489,301.80,369.13000,379.51,385.40000,394.75852
Battery Current [A],1094793.0,-17.303016,44.435063,-404.38,-31.27000,-11.46,-1.69000,144.49000
Battery Temperature [°C],1094793.0,15.416753,7.430944,-1.00,9.00000,14.00,21.00000,32.00000
max. Battery Temperature [°C],1094793.0,16.035909,7.489903,-1.00,10.00000,16.00,22.00000,60.90000
SoC [%],1064000.0,65.104755,15.114649,0.00,56.47000,68.20,76.50000,88.50000
displayed SoC [%],1063999.0,74.162471,19.494970,9.50,63.00000,77.50,89.00000,100.00000
min. SoC [%],1064000.0,7.999992,0.007756,0.00,8.00000,8.00,8.00000,8.00000
max. SoC [%),1063999.0,89.105845,0.634936,88.00,88.50000,89.00,89.50000,90.00000
Heating Power CAN [kW],1094793.0,1.220611,1.763342,0.00,0.00000,0.96,1.48000,40.04000
Heating Power LIN [W],784206.0,1364.208638,1694.241461,0.00,680.00000,1080.00,1520.00000,38870.52000
Requested Heating Power [W],1094793.0,1183.414834,1783.290611,0.00,0.00000,880.00,1424.70000,38527.75000
AirCon Power [kW],1094793.0,0.164960,0.367594,-0.17,0.00000,0.00,0.20000,3.32000
Heater Signal,1094793.0,0.924514,0.264175,0.00,1.00000,1.00,1.00000,1.00000
Heater Voltage [V],784206.0,372.725569,91.512662,0.00,366.43000,377.00,385.74000,1022.96000
Heater Current [A],784206.0,3.636590,4.421338,0.00,1.75000,3.00,4.24000,100.09000
Ambient Temperature [°C],1094793.0,13.064478,9.622983,-3.50,5.00000,9.50,21.50000,33.50000
Ambient Temperature Sensor [°C],622453.0,6.136288,3.460341,-3.44,3.89000,5.80,7.99000,22.39000
Coolant Temperature Heatercore [°C],784206.0,46.725079,13.673780,-1.00,46.00000,50.00,52.00000,80.53000
Requested Coolant Temperature [°C],1074964.0,81.511385,31.842129,0.00,85.00000,85.00,85.00000,215.00000
Coolant Temperature Inlet [°C],784206.0,45.944823,13.268913,-1.00,46.00000,49.00,51.00000,70.00000
Coolant Volume Flow +500 [l/h],598759.0,-15.715559,81.257432,-500.92,-0.23000,-0.16,-0.15000,0.15187
Heat Exchanger Temperature [°C],1094793.0,28.972482,15.882178,5.00,12.50000,34.50,41.50000,65.05000
Cabin Temperature Sensor [°C],1094793.0,23.959508,4.852177,10.00,22.67120,24.17,25.84000,39.84130
Temperature Coolant Heater Inlet [°C],622453.0,47.772016,8.686438,-2.22,45.70000,47.65,49.89000,67.78000
Temperature Coolant Heater Outlet [°C],622453.0,50.538265,9.032039,-1.52,47.47000,49.89,52.42000,73.98000
Temperature Heat Exchanger Outlet [°C],622453.0,48.338588,8.365544,-2.74,46.13000,48.05,50.26000,68.57000
Temperature Defrost lateral left [°C],622453.0,29.769488,5.592761,-1.78,28.12000,30.25,32.61000,43.95000
Temperature Defrost lateral right [°C],622453.0,30.032027,5.534259,-2.13,28.41627,30.42,33.13000,43.08000
Temperature Defrost central [°C],622453.0,33.688808,6.531475,-2.29,30.95000,34.18,36.58000,49.54000
Temperature Defrost central left [°C],622453.0,33.357948,6.674065,-2.39,30.77287,34.06,36.71000,49.36000
Temperature Defrost central right [°C],622453.0,31.561968,7.490815,-2.55,30.16000,32.95,35.40000,46.48000
Temperature Footweel Driver [°C],622453.0,19.663228,5.152778,-1.70,17.31000,20.60,22.92000,30.60000
Temperature Footweel Co-Driver [°C],622453.0,23.534749,5.743584,-2.22,22.13000,24.43,26.59000,40.55000
Temperature Feetvent Co-Driver [°C],622453.0,40.691820,10.166118,-3.18,37.76000,41.14,45.18000,61.23000
Temperature Feetvent Driver [°C],622453.0,40.039075,10.325675,-3.09,37.14443,39.61,44.26000,62.11000
Temperature Head Co-Driver [°C],622453.0,19.101404,3.349214,0.84,18.54000,20.08,21.15000,24.05000
Temperature Head Driver [°C],622453.0,20.594338,3.239581,2.06,20.18000,21.66,22.43000,25.88000
Temperature Vent right [°C],622453.0,31.070091,6.437701,-2.48,29.29000,31.56,33.30000,45.17000
Temperature Vent central right [°C],622453.0,30.186376,6.532453,-2.48,28.21809,31.09,33.13000,44.30000
Temperature Vent central left [°C],622453.0,32.298176,7.552862,-2.66,29.05000,32.34,35.46000,50.76000
Temperature Vent right [°C],622453.0,28.990464,6.084918,-1.52,27.40000,29.51,31.09000,43.78000

## Entrenamiento:

El objetivo del entrenamiento es la denominada Battery Temperature [°C] en la base de datos, por medio del uso del uso de la Regresión, haciendo uso de la librería PyCaret y aplicando la función 'setup', se permite configurar el objetivo del entrenamiento, esta por defecto entrena los modelos con el 70% para entrenamiento, por lo que ya se cumple con las restricciones planteadas por el proyecto de clase.

*Se puede observar información adicional como el tamaño del dataset y la cantidad de filas que contienen datos faltantes, estos no se eliminan ya que se encuentras dispersos y al sustraerlos se cortarían datos importantes que aportan otras características que no contienen datos faltantes en dichas columnas a eliminar*

In [15]:
from pycaret.regression import *
reg1 = setup(data, target = 'Battery Temperature [°C]', session_id=123, log_experiment=True, experiment_name='insurance1')

2024/02/15 15:06:32 INFO mlflow.tracking.fluent: Experiment with name 'insurance1' does not exist. Creating a new experiment.

*La función compare_models de PyCaret proporciona una amplia gama de modelos de aprendizaje automáticos predefinidos utilizando validación cruzada, uno de los parámetros configurados en esta ocasión ha sido el 'fold', el cual se refiere al número de pliegues utilizados para la validación cruzada, en este caso se usan 5, para evaluar el rendimiento de los modelos, el número de pliegues en la validación cruzada controla cuántas divisiones se hacen sobre los datos y cuántas iteraciones de entrenamiento y prueba se realizarán para evaluar el rendimiento del modelo,los datos se dividen en 5 partes iguales. Luego, el modelo se entrenará y probará 5 veces, utilizando una combinación diferente de 4 pliegues para entrenamiento y el pliegue restante para prueba en cada iteración.*

*Después de evaluar todos los modelos utilizando validación cruzada, compare_models() devuelve el mejor modelo basado en una métrica de rendimiento predeterminad, así generando un ranking que contiene medidas de error, siendo 2 de las incluídas, las solicitadas en el proyecto, RMSE y MAE, debido a que es un modelo de regresión el usado en esta ocasión.*

In [17]:
best_model = compare_models(fold=5)

In [18]:
lightgbm = create_model('lightgbm')

In [19]:
lgbms = [create_model('lightgbm', learning_rate=i) for i in np.arange(0.1,1,0.1)]